* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body {
  background-color: #f4f5f6;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-width: 320px;
}

h6 {
  display: none;
}

.d-grid {
  display: grid;
  gap: 15px;
}

.container-xl {
  padding: 0;
}

.card-body {
  line-height: 1;
}

.logo {
  fill: white;
  height: 60px;
}

.footer-logo {
  fill: red;
  width: 236px;
}

.weather-icon {
  width: 20px;
}


section {
  grid-template-areas: 'item1 item2 item2 item3';
}

.position-absolute {
  top: 30px;
  left: 80px;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 75px;
}

.section-item-one {
  grid-area: item1;
}

.section-item-two {
  grid-area: item2;
}

.section-item-three {
  grid-area: item3;
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);

}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-2 {
  grid-template-columns: 2fr 1fr;
}

.rounded-circle {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 992px) {
  section {
    grid-template-areas:
      'item1 item2'
      'item3 item3';
  }

}

@media screen and (max-width: 770px) {
  section {
    grid-template-areas:
      'item2'
      'item1'
      'item3';
  }

  .logo {
    height: 20px;
  }

  .grid-col-4,
  .grid-col-3,
  .grid-col-2 {
    grid-template-columns: 1fr;
  }

}